html {
  font-size: 14px;
}

.btn-cart {
  background-color: transparent;
  position: relative;
}
.btn-cart .badge {
  position: absolute;
  right: 4px;
  top: 6px;
}

.jumbotron-bg {
  background-image: url("https://images.pexels.com/photos/374885/pexels-photo-374885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}

.bg-lighter {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 10px 10px rgba(255, 255, 255, 0.25);
}

.bg-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s;
}

.bg-shadow:hover {
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.55);
}

.text-film {
  color: rgba(161, 116, 76, 0.95);
  text-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.25);
  font-family: "Times New Roman", Times, serif;
}

.bg-cover {
  background-size: cover;
}

.line-hight-2 {
  line-height: 2em;
}